body{
    margin:0px;
}

header{
    background-image: url(background.jpg);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#navbar{
    padding-top:40px;
    margin-top: 0px;
    font-family: sans-serif;
    margin-bottom: 50px;
}

ul{
    list-style-type: none;
    width: 60%;
    margin: auto;
    padding-left: 0px;
    
}

ul div{
    display: inline-block;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    margin: auto;
    width: 30%;
    text-align: center;
}

#name{
    margin-top: 150px;
}

#media{
    
    padding-bottom: 150px;
}

#media-icon{
    width: 30%;
    margin: auto;
}

#media ul li{
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color:white;
   
}

li:hover{
    border-bottom: 1px solid white;
}

#about-picture img{
    border-radius: 50%;
    display: block;
    margin:auto;
    margin-top: -125px;
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about-para p{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: sans-serif;
    line-height: 25px;
}

/* Skill Section */

#skill{
    background-color: rgb(243, 243, 243);
    width: 100%;
}

#skill #skill-heading i{
    font-size: 35px;
    display: inline-block;
    margin-right: 10px;
}

#skill #skill-heading h2{
    display: inline-block;
    font-size: 40px;
}

#skill-heading{
    margin: auto;
    margin-top: 10px;
    padding-top: 40px;
    width: 22%;
    font-family: sans-serif;
}
#skill-indicator{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

#skill-indicator #indicator{
    width: 20vw;
    height: 30px;
    background-color:lightgrey;
    margin: 30px;
    border-radius:20px;
}

#skill-indicator #indicator #html{
    width: 80%;
    background-color:aqua;
    height: 30px;
    border-radius: 20px;
}

#skill-indicator #indicator #html p{
    margin:0px;
    padding-top: 5px;
    padding-left: 15px;
    font-family: sans-serif;
    font-weight: 700;
}

